<details style="padding: 0.5rem 0">
    <summary>
        {{.name}} {{if .on_bookshelf}}{{- partial "svg/bookshelf" -}}{{end}}
         | <span style="font-size: 0.8em">{{.authors}}</span>
    </summary>
    <div style="font-size: 0.8em; padding: 0.6rem 0 0 0.6rem">
        <div>
            Impact:
            {{if .impact}}
                {{range $index, $num := (seq .impact) }}
                    {{- partial "svg/trophy.html" -}}
                {{end}}
            {{else}}
                None
            {{end}}

        </div>
        <div>
            Times read: {{.num_times_read}}
        </div>
        <div>
            {{if .is_fiction}}Fiction {{else}}Non-Fiction {{end}}
        </div>
        {{if .series}}
            <div>Series: {{ .series }}</div>
        {{end}}
        {{if .notes}}
            Notes:
            <ul>
                {{ range .notes }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{end}}
    </div>
</details>