{{ define "header" }}
{{/* We can override any block in the baseof file be defining it in the template */}}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article class="flex-l flex-wrap justify-between mw8 center ph3">
    <section class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l pt3">
        {{- .Content -}}
        <p>
            The <span class="ml1 mr1">{{- partial "svg/bookshelf" -}}</span> icon
            means the book is physically on the shelf. Those without this icon have been borrowed or listened to.
        </p>
        {{ $urlPre := "https://tqscqakffi.execute-api.us-east-2.amazonaws.com" }}
        {{ $books := getJSON $urlPre "/dev/books" }}
        {{ $finishedBooks := where $books "num_times_read" ">=" 1 }}
        {{ $finishedNonFiction := where $finishedBooks "is_fiction" 0 }}
        {{ $finishedFiction := where $finishedBooks "is_fiction" 1 }}
        {{ $unfinishedBooks := where (where $books "num_times_read" "<" 1) "num_times_read" ">" 0  }}
        {{ $unstartedBooks := where $books "num_times_read" 0 }}
        <div class="mb4">
            <h3>Non-Fiction</h3>
            {{ range $finishedNonFiction }}
            {{ partial "book.html" . }}
            {{ end }}
        </div>
        <hr>
        <div class="mb4">
            <h3>Fiction</h3>
            {{ range $finishedFiction }}
            {{ partial "book.html" . }}
            {{ end }}
        </div>
        <hr>
        <div class="mb4">
            <h3>Current reading list</h3>
            {{ range $unstartedBooks }}
            {{ partial "book.html" . }}
            {{ end }}
        </div>
        <hr>
        <div class="mb4">
            <h3>Started but not finished</h3>
            {{ range $unfinishedBooks }}
            {{ partial "book.html" . }}
            {{ end }}
        </div>
    </section>
    <aside class="w-30-l mt6-l">
        {{- partial "menu-contextual.html" . -}}
    </aside>
</article>
{{ end }}
